@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
}

/* Shared styles */
.display-flex {
    display: flex;
}

/* dakr-02 */
.text-gray {
    color: #424242;
}

/* dark-03 */
.text-light-gray {
    color: #727272;
}

.section-title {
    font-size: 2.8rem;
    margin: 24px 0;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

/* header style */

/* Nav related styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: 700;
    font-size: 3rem;
}

.banner,
.navbar {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    margin-right: 30px;
}

/* banner related style */

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-img {
    width: 100%;
}

/* main sytles */

main {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

/* Team-section */

.Team-section {
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features-contaner {
    margin-left: 73px;
    max-width: 534px;
}

#Quick-list {
    font-weight: 500;
}

#Features {
    color: #FF900E;
}

.features-info {
    margin-bottom: 32px;
}


/* Experince related styles */
.Experince {
    gap: 140px;
}

.Experince-title {
    font-size: 2.8rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 24px;
}

.Experince-info-container {
    max-width: 586px;
}

.Experince-info {
    margin-bottom: 30px;
}

.expertise {
    padding: 30px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-top: 20px;
}

.expertise>h4 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}

.expertise>p {
    margin: 0;
}

.features-architect img {
    width: 100%;
}

.badge {
    margin-left: -100px;
    margin-top: -100px;
    padding: 45px 42px;
}

.badge-year {
    font-size: 4rem;
    font-weight: 700;
}

.badge-experince {
    font-size: 1.5rem;
    font-weight: 500;
}


/* some fact section */

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-card {
    width: 240px;
    height: 240px;
    border: 1.5px solid #FF900E;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.fact-icon {
    margin-bottom: 5px;
}

.fact-number {
    margin-top: 0;
    margin-bottom: 10px;
}

.fact-name {
    margin: 0;
}

.fact-decription {
    max-width: 542px;
    margin-bottom: 100px;
}

/* Sponsors related styles */
.sponsors-info {
    max-width: 542px;
    margin: 0 auto;
    text-align: center;
}

.sponsors-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
    margin-bottom: 130px;
}

.sponsors-companies img {
    filter: grayscale(100%);
}

/* responsive media query */

/* footer */
footer {
    max-width: 1440px;
    margin: 0 auto;
    font-size: 1.2rem;
    background-color: #FFF4E7;
    text-align: center;
    margin-bottom: 216px;
    border-radius: 8px;
}
.footer-info{
    padding: 38px;
}

@media screen and (max-width:576px) {

    .navbar,
    .nav-link,
    .Team-section,
    .Experince {
        flex-direction: column;
    }

    .teams-img-container,
    .facts-container {
        grid-template-columns: 1fr;
    }

    .features-contaner {
        margin-left: 20px;
    }

    .facts-container {
        justify-items: center;
        gap: 24px;
    }

    .fact-title,
    .fact-decription {
        margin-left: 20px;
    }

    .sponsors-companies {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 50px;
    }

    .badge {
        margin-left: 20px;
        margin-top: 20px;
        padding: 45px 42px;
    }

}

/* medium device screen */

@media screen and (min-width:576px) and (max-width:992px) {

    .Team-section,
    .Experince {
        flex-direction: column;
    }

    .features-contaner {
        margin: 50px 20px;
    }

    .sponsors-companies,
    .facts-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }

    .fact-title,
    .fact-decription {
        margin: 10px auto;
        text-align: center;
    }

    .fact-decription {
        margin-bottom: 50px;
    }

    .badge {
        margin-left: 20px;
        margin-top: 20px;
        padding: 45px 42px;
    }

    .Experince-info-container {
        margin: 0 auto;
    }
}